.user-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 3.5rem);
}

.user-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30rem;
  width: 20rem;
}

.user-text {
  margin-top: 2.5rem;
  text-align: center;
}

.user-text > h3 {
  margin-top: 1.5rem;
}

.logout {
  cursor: pointer;
  margin-top: 4rem;
  color: red;
}

.logout > h4 {
  letter-spacing: 1px;
}
