.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 3.5rem);
}

.container > a {
  margin-top: 2rem;
  color: blue;
  font-weight: 500;
  letter-spacing: 0.5px;
}
