.navbar-container {
  background-color: #fc5252;
  height: 3.5rem;
}

.navbar-content {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  margin: 0 1.5rem;
  height: 100%;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo > a > img {
  height: 40px;
}

.mobile {
  /* background-color: teal; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.options {
  cursor: pointer;
  display: flex;
  position: absolute;
  background-color: #fc5252;
  color: white;
  width: 100%;
  height: 5rem;
  left: 0;
  top: 3.5rem;
  justify-content: space-around;
  align-items: center;
  letter-spacing: 1px;
  visibility: hidden;
}

.options > div > a {
  color: white;
}

@media screen and (min-width: 768px) {
  .mobile {
    display: none;
  }

  .options {
    visibility: visible;
    position: initial;
    height: 3.5rem;
    justify-content: flex-end;
  }

  .newpokemon-option {
    margin-right: 3.5rem;
  }
}
